<div x-show="openPasswordSuccessPopup" x-cloak role="dialog" aria-modal="true"
  class="fixed inset-0 w-[100vw] h-[100svh] z-50 overflow-y-auto md:p-6">
  <div class="absolute inset-0 size-full bg-[#00000066] z-0"></div>
  <div class="w-full h-full min-h-full overflow-y-auto p-5 md:p-0 md:pt-6">
    <div class="w-full min-h-full flex flex-col items-center justify-center">
      <div x-show="openPasswordSuccessPopup" x-transition:enter="ease-out duration-300"
        x-transition:enter-start="opacity-0 translate-y-4 sm:scale-95"
        x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100" x-transition:leave="ease-in duration-200"
        x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
        x-transition:leave-end="opacity-0 translate-y-4 sm:scale-95"
        class="relative max-w-[680px] w-full p-8 bg-white rounded-3xl z-2 lg:max-w-[578px] lg:p-6 md:max-w-full md:p-4 md:rounded-2xl">
        <div class="flex items-center justify-between">
          <h2
            class="flex items-center gap-[10px] text-2xl leading-[130%] text-[#323338] font-bold lg:text-[22px] md:text-base">
            <svg class="size-[45px] md:size-6" width="45" height="44" viewBox="0 0 45 44" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M37.0951 11.9167L16.9284 32.0834L7.76172 22.9167" stroke="#3B8BEA"
                style="stroke:#3B8BEA;stroke:color(display-p3 0.2314 0.5451 0.9176);stroke-opacity:1;" stroke-width="4"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            Пароль успешно сохранен
          </h2>
          <button @click="openPasswordSuccessPopup = false; document.body.classList.remove('no-scroll')" type="button" class="flex items-center justify-center size-8 rounded-full 
          bg-[#F4F6FB] text-[#323338] cursor-pointer hover:bg-[#323338] hover:text-white transition-all shrink-0">
            <svg class="size-[14px]" width="14" height="14" viewBox="0 0 14 14" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M1.6665 1.66699L12.3332 12.3337" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
              <path d="M12.3332 1.66699L1.6665 12.3337" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>