<div class="fixed inset-0 w-[100vw] h-[100svh] z-50 hidden">
  <div class="absolute inset-0 size-full bg-[#18191B] z-0"></div>
  <div class="max-w-[1500px] h-full p-10 mx-auto relative z-1 max-h-full md:p-5 md:px-0">
    <div class="flex items-start justify-between gap-5 mb-10 md:px-5 md:mb-[130px]">
      <h2 class="text-[34px] leading-[130%] text-white font-bold lg:text-[22px] lg:leading-[140%] lg:font-semibold lg:mb-[26px] md:text-[22px]">«ВентАвтоматика» — производство шкафов управления вениляцией</h2>
      <button type="button" class="size-14 flex items-center justify-center shrink-0 rounded-full bg-[#242527] cursor-pointer lg:size-8">
        <svg class="size-[18px] lg:size-[10px]" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.66699 1.66602L20.3337 20.3327" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M20.3337 1.66602L1.66699 20.3327" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    <div class="w-full max-h-full">
      <video class="block w-full object-contain" src="./video/video.mp4" playsinline></video>
    </div>
  </div>
</div>